


<div id="Carousel" class="carousel slide">
<ol class="carousel-indicators">
    <li data-target="Carousel" data-slide-to="0" class="active"></li>
    <li data-target="Carousel" data-slide-to="1"></li>
    <li data-target="Carousel" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
    <div class="item active">
        <img src="img/jinyingcapitalservice.jpg" class="img-responsive">
    </div>
    <div class="item">
        <img src="img/jinyingmembership.jpg" class="img-responsive">
    </div>
    <div class="item">
        <img src="img/jinyingproducts.jpg" class="img-responsive">
    </div>
</div>
<span class="left carousel-control" data-target="#Carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
</span>
<span class="right carousel-control" data-target="#Carousel" data-slide="next">
   <span class="glyphicon glyphicon-chevron-right"></span>
</span>
</div>

<div class="row" id="homeplans">
    <div class="col-sm-4">
		<h3>{{ vm.finan.pageBean.beanList[0].abbreviation }} </h3>
		<p>{{ vm.finan.pageBean.beanList[0].partner.briefIntroduction }} </p>
    </div>
    <div class="col-sm-4"> 
		<h3>{{ vm.finan.pageBean.beanList[1].abbreviation }} </h3>
		<p>{{ vm.finan.pageBean.beanList[1].partner.briefIntroduction }} </p> 
    </div>
    <div class="col-sm-4">
		<h3>{{ vm.finan.pageBean.beanList[2].abbreviation }} </h3>
		<p>{{ vm.finan.pageBean.beanList[2].partner.briefIntroduction }} </p>
    </div>
</div>

<div id="services">
 <div class="row">
  <div class="col-sm-4">
	<img src="img/ed.jpg">
	<h4>教育服务</h4>
  </div>
  <div class="col-sm-4">
	<img src="img/travel.jpg">
	<h4>旅游服务</h4>
  </div>
  <div class="col-sm-4">
	<img src="img/car.jpg">
	<h4>汽车服务</h4>
  </div>
</div>
 <div class="row">
  <div class="col-sm-4">
	<img src="img/med.jpg">
	<h4>医疗服务</h4>
  </div>
  <div class="col-sm-4">
	<img src="img/immi.jpg">
	<h4>移民服务</h4>
  </div>
  <div class="col-sm-4">
	<img src="img/enter.jpg">
	<h4>娱乐服务</h4>
  </div>
</div>
</div>











<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a href="#" ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>
<p><a href="#/login" class="btn btn-primary">Logout</a></p>